include top

.container
    .card
        .card-body
            h3.display-4 401 error
            br
            br
            p
                lead You have been redireected here because of insufficient privilege to access the document
            br
            br
            a.right.btn.btn-info(href="/") Return Home

include bottom