include top

header.navbar.navbar-expand.flex-column.flex-md-row.bg-info
    lead.text-light.navbar-brand.mr-0.mr-md-2(href="#") bookworm
    ul.navbar-nav.flex-row.ml-md-auto.d-none.d-md-flex
        if username
            li.nav-item.dropdown
                a.nav-item.nav-link.dropdown-toggle.mr-md-2(href="#",id="options",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") #{username}
                div.dropdown-menu.dropdown-menu-right(aria-labelledby="options")
                    a.dropdown-item(onclick="logout()") Logout
    
.container-fluid
    if username
        .row.flex-xl-nowrap
            .card.card-body.col-sm-3.col-md-3.col-xl-2.bg-transparent(style="margin-bottom:0px !important;border-radius:0px !important")
                .dropdown
                    a.btn.btn-light(onclick="getmyapps()",data-toggle="collapse",data-target="#apps",aria-expanded="false",aria-control="apps") Apps
                    
                br
                .dropdown
                        a.btn.btn-light.dropdown-toggle#mudropdown(data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") Manage Books
                        .dropdown-menu(aria-labelledby="mbdropdown")
                            a.dropdown-item.btn.btn-primary( data-toggle="collapse",data-target="#addbooks",aria-expanded="false",aria-control="addbooks") add books
                                code   +
                            a.dropdown-item.btn.btn-primary( data-toggle="collapse",data-target="#editbooks",aria-expanded="false",aria-control="editbooks") edit books
                                code   +
                
            main.col-sm-9.col-md-9.col-xl-8.py-md-3.pl-md-5.bg-white(role="main")
                .card.card-body.bg-white#pt
                    .collapse#apps(data-parent="#pt")
                        lead.display-4 Apps
                        br
                        br
                        .card
                            .card-body.bg-info
                                if apps.length<1
                                    h5.center No apps created yet
                                else
                                    .row
                                        span.col-md-3
                                            lead.bold App Name
                                        span.col-md-5 
                                            lead.bold App Boken
                                        span.col-md-3
                                            lead Delete
                                    hr

                                    for app in apps
                                        .row.card-body
                                            span.col-md-3 #{app.appname}
                                            span.col-md-5 #{app.appBoken}
                            

include bottom