include top

div.bg-dark(style="height:100%")
    div.align-self-center(style="padding:40px;border-radius:5px;float:none;width:400px;margin:0 auto;")
        h4.card.card-body Register
        .card
            .card-body
                form.form
                    .form-group
                        input.form-control(required,id="username",type="text",placeholder="username")
                    .form-group
                        input.form-control(required,id="firstName",type="text",placeholder="firstname")
                    .form-group
                        input.form-control(required,id="lastName",type="text",placeholder="lastname")
                    .form-group
                        input.form-control(required,id="organizationName",type="text",placeholder="organization's name")
                    .form-group
                        input.form-control(required,id="mobileNumber",type="text",placeholder="mobile number")
                    .form-group
                        input.form-control(required,id="emailAddress",type="email",placeholder="email address")
                    .form-group
                        input.form-control(required,id="password",type="password",placeholder="password")
                    .form-group
                        input.form-control(required,id="Cpassword",type="password",placeholder="confirm password")
                    br
                    button.btn.btn-secondary.right(type="submit") Register


include bottom
script(type="text/javascript").
    const checkPwd=()=>{
        var r
        ($("#password").val()==$("#Cpassword").val())?r=true:r=false
        
        return r
    }
    $(".form").submit((e)=>{
        var username=$("#username").val()
        var firstName=$("#firstName").val()
        var lastName=$("#lastName").val()
        var organizationName=$("#organizationName").val()
        var mobileNumber=$("#mobileNumber").val()
        var emailAddress=$("#emailAddress").val()
        var password=$("#password").val()
        e.preventDefault();
        if(checkPwd()){
            $.post("/register",{username:username,firstName:firstName,lastName:lastName,organizationName:organizationName,mobileNumber:mobileNumber,emailAddress:emailAddress,password:password},(r)=>{
                if(r.type=="success"){
                    window.location="/dashboard"
                }
                else console.log(r)
            })
        }
        else ""
        
    });