include top

div.bg-dark(style="height:100%")
    div.align-self-center(style="padding:40px;border-radius:5px;float:none;width:400px;margin:0 auto;")
        h4.card.card-body Register
        .card
            .card-body
                .form
                    .form-group
                        input.form-control(required,type="text",placeholder="first Name")
                    .form-group
                        input.form-control(required,type="text",placeholder="last Name")
                    .form-group
                        input.form-control(required,type="text",placeholder="organization's name")
                    .form-group
                        input.form-control(required,type="text",placeholder="display name")
                    .form-group
                        input.form-control(required,type="text",placeholder="mobile number")
                    .form-group
                        input.form-control(required,type="email",placeholder="email address")


                    



include bottom