include top


.row.bg-dark(style="height:100%")
    .col-md-6.col-xl-6 
        if role!="admin" 
            div.align-self-center(style="padding:40px;border-radius:5px;float:none;width:300px;margin:0 auto;")
                p.display-5.text-info Please login in as administrator to run setup
                h4.card.card-body Login
                    br
                    br
                    form.form(method="POST")
                        code#details
                        div.form-group
                            input.form-control#user(type="text",placeholder="Username",required)
                        div.form-group
                            input.form-control#pwd(type="password",placeholder="Password",required)
                        button.btn.btn-primary(type="submit") Login
            
    .col-md-6.col-xl-6.bg-light
        if role=="admin"
            .jumbotron
                h4.display-3 Hello
                p.lead Let's setup your environment 
                hr.my-4 
                p.lead 
                    a.btn.btn-primary.btn-lg(href="/setup-stage2") Lets Begin 
            

include bottom