include top

div.bg-white(style="height:100%")
    div.align-self-center(style="padding:90px;float:none;width:auto;margin:0 auto;")
        if role!="admin" 
            div.align-self-center(style="padding:40px;border-radius:5px;float:none;width:300px;margin:0 auto;")
                p.display-5.text-info Please login in as administrator to run setup
                h4.card.card-body Login
                    br
                    br
                    form.form(method="POST")
                        code#details
                        div.form-group
                            input.form-control#user(type="text",placeholder="Username",required)
                        div.form-group
                            input.form-control#pwd(type="password",placeholder="Password",required)
                        button.btn.btn-primary(type="submit") Login
        if role=="admin"
            .card
                .card-body.bg-light
                    form(action="")
                        .card.card-body User
                            br
                            br
                            .input-group
                                span.input-group-addon.bg-dark.text-light#basic-addon3 root username
                                input.form-control(placeholder="root username",aria-describedby="basic-addon3",type="text",value="bookworm",required)
                            br
                            .input-group
                                span.input-group-addon.bg-dark.text-light#basic-addon3 root password
                                input.form-control(placeholder="root password",aria-describedby="basic-addon3",type="password",value="wormbook",required)
                                span.input-class-btn
                                    button.btn.btn-secondary Show Password
                            br
                            .input-group
                                span.input-group-addon.bg-dark.text-light#basic-addon3 root email
                                input.form-control(aria-describedby="basic-addon3",placeholder="bookworm@bookworm.com",type="email",value="",required)
                            br
                            .row.justify-content-between
                                a.btn.btn-outline-secondary.col-4.invisible(data-toggle="collapse",data-target="#next1",aria-controls="next1",aria-expanded="false",role="button") Next
                                a.btn.btn-outline-secondary.col-4(data-toggle="collapse",data-target="#next1",aria-controls="next1",aria-expanded="false",role="button") Next

                        .collapse#next1
                            .card.card-body Appearance
                                br
                                br
                                .card.card-body
                                    lead Homepage
                                    br
                                    .input-group
                                        label.custom-control.custom-checkbox.mb-2.mr-sm-2.mb-sm-0
                                            input.custom-control-input(type="checkbox")
                                            span(class="custom-control-indicator")
                                            p.text-dark(class="") Remove setup banner
                                    .form-check.form-inline
                                        label.form-check-label
                                            input.form-check-input#homepageOpt1(type="radio",name="homepageOpt",value="",checked) 
                                            | Use default homepage
                                    .form-check.form-inline
                                        label.form-check-label
                                            input.form-check-input#homepageOpt1(type="radio",name="homepageOpt",value="")
                                            | Use custom homepage 
include bottom