include top


header.navbar.navbar-expand.flex-column.flex-md-row.bg-info
    lead.text-light.navbar-brand.mr-0.mr-md-2(href="#") bookworm

.container-fluid
    .card
        .card-body
            .jumbotron
                if type=="success"
                    p.lead Your account has been activated successfully please 
                        a(href="/login")|login to start adding to your bookshelves
                else if type=="error"
                    p.lead #{a.message}
                else
                    p.lead A verfication email has been sent to the specified email address. Check your inbox, click the link specified to verify your account 

include bottom